.empty {
    margin-top: 50px;
}
.clients {
    background: #f6f7ff;
    padding: 40px 0;
    text-align: center;
    display: relative;
}

.clients-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    justify-items: center;
    padding: 0 20px;
}

.client-card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 100%;
    max-width: 150px;
    text-align: center;
    padding: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.client-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.client-card img {
    max-width: 100%;
    height: 100px;
    object-fit: contain;
    margin-bottom: 10px;
}

.client-card h4 {
    font-size: 1em;
    margin: 0;
}

@media (min-width: 1200px) {
    .clients-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1199px) and (min-width: 768px) {
    .clients-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 767px) {
    .clients-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .clients-container {
        grid-template-columns: repeat(1, 1fr);
    }
}
